<ion-tabs (ionTabsDidChange)="setSelectedTab()">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon [name]="selectedTab == 'home' ? 'home-sharp' : 'home-outline'"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon [name]="selectedTab == 'search' ? 'search-sharp' : 'search-outline'"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="new">
      <ion-icon [name]="selectedTab == 'new' ? 'create-sharp' : 'create-outline'"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="activity">
      <ion-icon [name]="selectedTab == 'activity' ? 'heart-sharp' : 'heart-outline'"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon [name]="selectedTab == 'profile' ? 'person-sharp' : 'person-outline'"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
