<!-- <div class="thread-avatar"></div> -->
<div class="thread-header">
  <strong class="user">michaeldaviddev</strong>
  <ion-text color="medium">1 h</ion-text>
  <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
</div>
<!-- <div class="thread-line">
  <p>asd</p>
</div> -->
<div class="thread-body">
  <p>
    thread works!
  </p>
  <div class="actions">
    <ion-icon name="heart-outline"></ion-icon>
    <ion-icon name="chatbubble-outline"></ion-icon>
    <ion-icon name="repeat-outline"></ion-icon>
    <ion-icon name="send-outline"></ion-icon>
  </div>
</div>