<div class="thread-avatar">
  <ion-avatar>
    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
  </ion-avatar>
</div>
<div class="thread-header">
  <strong class="user">michaeldaviddev</strong>
  <ion-text color="medium">1 h</ion-text>
  <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
</div>
<!-- <div class="thread-line">
  <p></p>
</div> -->
<div class="thread-body">
  <p>
    thread works!
  </p>
  <div class="actions">
    <ion-icon name="heart-outline"></ion-icon>
    <ion-icon name="chatbubble-outline"></ion-icon>
    <ion-icon name="repeat-outline"></ion-icon>
    <ion-icon name="send-outline"></ion-icon>
  </div>
</div>