<div class="thread-avatar">
  <ion-avatar>
    <img alt="user avatar" [src]="post.user.avatar" />
  </ion-avatar>
</div>
<div class="thread-header">
  <strong class="user">{{ post.user.username }}</strong>
  <ion-text color="medium">{{ post.created_at }}</ion-text>
  <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
</div>
<div class="thread-body">
  <p>
    {{ post.caption }}
  </p>
  <div class="actions">
    <ion-icon name="heart-outline"></ion-icon>
    <ion-icon name="chatbubble-outline"></ion-icon>
    <ion-icon name="repeat-outline"></ion-icon>
    <ion-icon name="send-outline"></ion-icon>
  </div>
</div>