.thread-header {
  display: flex;
  align-items: center;

  strong {
    flex-grow: 1;
  }

  ion-icon {
    margin-left: 10px;
  }
}

.actions {
  display: flex;
  height: 36px;
  align-items: center;

  ion-icon {
    height: 20px;
    width: 20px;
    margin-right: 16px;
  }
}
